@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navbar-custom {
    background-color: rgb(15, 13, 125);
}
  
.navbar-custom li a {
    color: white;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 7px 13px;
}
  
.navbar-custom li {
    padding-left: 10px;
}

.navbar-brand {
    font-size: 30px;
    font-family: Lobster;
    font-weight: bold;
    padding-left: 20px;
}

#about {
    text-align: center;
}
  
#about .title {
    font-weight: bold;
    font-family: Ubuntu;
    padding-top: 25px;
    font-size: 32px;
}
  
#about .hello {
    font-family: Ubuntu;
    font-size: 18px;
    padding-top: 5px;
    padding-right: 200px;
    padding-left: 200px;
}

.download {
    border: none;
    color: white;
    text-decoration: none;
}

@media (max-width: 858px) {
    #about .hello {
      font-size: 18px;
      padding-top: 10px;
      padding-right: 80px;
      padding-left: 80px;
    }

    .table {
        padding-right: 15px;
        padding-left: 15px;
    }
}
